<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>한라대학교-인공지능공학과</title>
    <link rel="stylesheet" href="/css/home/style.css">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</head>
<body>
    <header>
        <section class="header_area">
            <a href="#" class="logo"><img src="images/logo.png" alt="로고"></a>
                <div class="right-btn">
                    <a href="#">홈</a>
                    <a href="#">커뮤니티</a>    
                </div>
        </section>
    </header>
    <section class="main_about">
        <div class="main_area">
            <div class="about_text">
                <h1>인공지능공학과 커뮤니티 사이트</h1>
                <p>4차산업혁명을 통해 다가오는 초지능형 미래사회와 기술발전에 대응할 수 있는 전문기술인력 양성을 위해, 기본 공학교육과정을 혁신적인 공학기술교육으로 디자인하여 학생들에게 제공하고, 3, 4학년 과정에서는 미래문화기술연구단 및 연구센터들과 협력을 통한 그룹프로젝트 중심의 최신기술 심화교육에 집중하여, 졸업 후 국내외로 진출하여 인공지능, 사물인터넷, 로봇, 빅데이터, 사이버보안 등의 신기술분야를 주도할 4차산업 혁명 기술 창의·융복합 인재를 양성한다.</p>
                <div class="about-btn">
                    <a href="https://moonjaehyun.github.io/categories/aiestarterbook" class="blog-btn">코딩 꿀팁 블로그</a>
                    <a href="#" class="general-forum">게시판 보러가기</a>
                </div>
            </div>
            <div class="about-img">
                <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_xvmprung.json"  background="transparent" speed="1" loop  autoplay></lottie-player>
            </div>
        </div>
    </section>
</body>
</html>