<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/home/register.js" defer></script>
    <title>Document</title>
    <link rel="stylesheet" href="/css/home/login.css">
    <link href="https://webfontworld.github.io/naver/NanumSquare.css" rel="stylesheet">
</head>
<body>
    <section class="background">
        <div class="login_text">
            <img src="images/logo.png" alt="로고">
            <p>커뮤니티 웹 사이트</p>
        </div>
        <div class="login_box">
            <input id="name" type="text" placeholder="이름">
            <input id="student-id" type="text" placeholder="학번 예) OO학번">
            <input id="id" type="text" placeholder="아이디">
            <input id="psword" type="password" placeholder="비밀번호">
            <input id="confirm-psword" type="password" placeholder="비밀번호 확인">
            <button class="login_but" id="r_button">회원가입</button>
            <div class="login_set">
                <p><a href="/login">이미 회원가입을 하셨습니까?</a></p>
                <p>비밀번호 찾기</p>
            </div>
        </div>
    </section>
</body>
</html>